body{
margin:0;
font-family:sans-serif;
color:white;
overflow:hidden;
}

/* หน้า policy */

.policy{

height:100vh;
background:#120800;

display:flex;
flex-direction:column;

align-items:center;
justify-content:center;

padding:40px;

position:relative;

}

/* ปุ่มกลับ */

#backBtn,.backBtn{

position:absolute;

top:40px;
left:40px;

background:#2b7cff;

padding:10px 25px;

border:none;
border-radius:8px;

color:white;

cursor:pointer;

}

/* title */

h1{

font-size:48px;
margin-bottom:40px;

font-family:cursive;

}

/* text */

.policy-text{

max-width:900px;

font-size:20px;

line-height:1.8;

}

/* ปุ่มไป */

#nextBtn{

position:absolute;

bottom:120px;
right:80px;

padding:14px 60px;

background:#2b7cff;

border:none;

border-radius:10px;

color:white;

font-size:20px;

cursor:pointer;

}

/* หน้าเมนู */

.menuPage{

height:100vh;

background:#120800;

display:flex;

flex-direction:column;

align-items:center;
justify-content:center;

text-align:center;

}

/* NICE */

.nice{

letter-spacing:4px;

}

/* title */

.title{

font-size:60px;

margin:10px;

}

/* subtitle */

.subtitle{

font-size:24px;

margin-bottom:60px;

}

/* menu */

.menu{

display:flex;

flex-direction:column;

gap:50px;

}

/* item */

.item{

display:flex;

align-items:center;

gap:30px;

}

/* ลูกศร */

.arrow{

width:0;
height:0;

border-top:20px solid transparent;
border-bottom:20px solid transparent;

border-left:35px solid #3bb3ff;

}

/* ปุ่ม */

.menu button{

width:420px;

padding:20px;

background:#3aa2db;

border:none;

border-radius:12px;

font-size:20px;

color:white;

cursor:pointer;

transition:0.3s;

}

.menu button:hover{

transform:scale(1.05);

background:#2b7cff;

}

.backPolicy{

position:absolute;

top:30px;
left:40px;

background:#2b7cff;

color:white;

border:none;

padding:10px 25px;

border-radius:8px;

cursor:pointer;

font-size:16px;

transition:0.2s;

}

.backPolicy:hover{

background:#1e5edb;
transform:scale(1.05);

}