body{

margin:0;
font-family:sans-serif;
color:white;

}

/* หน้าแรก */

.hero{

height:100vh;
display:flex;
align-items:center;
justify-content:center;
position:relative;

}

/* พื้นหลัง */

.background{

position:absolute;
width:100%;
height:100%;

background-image:url("images/background.jpg");

background-size:cover;
background-position:center;

filter:blur(8px);

z-index:-1;

}
body{

margin:0;
font-family:sans-serif;
color:white;

/* ล็อกการ scroll */
overflow:hidden;

}
/* ข้อความซ้าย */

.left{

position:absolute;
left:60px;
top:30%;

max-width:350px;

}

.left h1{

font-size:45px;
line-height:1.4;

}

.left p{

margin-top:20px;
color:#d4d2eb;

}

/* โปรไฟล์ */

.center{

text-align:center;

}

.profile{

width:250px;
border-radius:50%;
border:4px solid rgb(170,13,13);

margin-bottom:20px;

}

.subtitle{

font-size:28px;
letter-spacing:3px;

}

.main-title{

font-size:64px;
margin:10px 0;

}

.tagline{

font-size:22px;

}

/* ปุ่ม */

button{

margin-top:20px;
padding:12px 30px;

background:#2b7cff;
color:white;

border:none;
border-radius:8px;

font-size:16px;

cursor:pointer;

transition:0.3s;

}

button:hover{

background:#1b5ed6;
transform:scale(1.05);

}

/* หน้า about */

#about{

height:100vh;

background:#120800;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

position:relative;

}

/* ปุ่มกลับ */

#backBtn{

position:absolute;

top:40px;
left:40px;

}

/* title */

.nice{

letter-spacing:5px;
font-style:italic;

}

.about-title{

font-size:60px;
margin:10px 0;

font-family:cursive;

}

.about-sub{

font-size:22px;

}

/* กล่อง */

.card{

background:#5a5550;

padding:40px;

width:650px;

border-radius:12px;

border:3px solid #ddd;

margin-top:30px;

}

/* input */

.input-area{

display:flex;
align-items:center;

gap:20px;

}

.avatar{

width:70px;
height:70px;

background:#7d8aa5;

border-radius:50%;

}

input{

flex:1;

padding:15px;

border-radius:40px;

border:3px solid #ddd;

background:transparent;

color:white;

font-size:18px;

}

/* description */

.desc{

margin-top:20px;

line-height:1.6;

}

/* ปุ่มเริ่ม */

#startBtn{

margin-top:30px;

padding:12px 50px;

font-size:22px;

background:#120800;

border:3px solid #ddd;

border-radius:10px;

}